body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f4f4f4;
}

.menu {
    color: red;
    font-size: 20px;
}

.menu2 {
    color: blue;
    display: flex;   /* делает меню горизонтальным */
    gap: 20px;       /* расстояние между пунктами */
}

.submenu a {
    display: none;
}

.menuitems:hover .submenu a{
    display: block;
}